In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cities.csv')
df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Natal,40,BR,1592242354,62,-5.79,-35.21,87.80,10.29
1,1,Hilo,1,US,1592242585,83,19.73,-155.09,72.00,3.36
2,2,Bluff,32,NZ,1592242586,90,-46.60,168.33,49.01,9.84
3,3,Salalah,40,OM,1592242343,94,17.02,54.09,84.20,6.93
4,4,Mataura,5,NZ,1592242589,90,-46.19,168.86,43.27,3.89

In [3]:
df.shape

(631, 10)

In [4]:
df = df.rename(columns={'Unnamed: 0': 'City_ID'})

In [5]:
df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Natal,40,BR,1592242354,62,-5.79,-35.21,87.80,10.29
1,1,Hilo,1,US,1592242585,83,19.73,-155.09,72.00,3.36
2,2,Bluff,32,NZ,1592242586,90,-46.60,168.33,49.01,9.84
3,3,Salalah,40,OM,1592242343,94,17.02,54.09,84.20,6.93
4,4,Mataura,5,NZ,1592242589,90,-46.19,168.86,43.27,3.89

In [12]:
html_df = df.to_html('data_table.html', index=False)
#print(html_df)

In [11]:
text_file = open('data_table.html', 'w')
text_file.write(html_df)
text_file.close()

UnicodeEncodeError: 'charmap' codec can't encode character '\u0101' in position 9394: character maps to <undefined>